@page "/"
@using DragonScribeStudios.MyMiniCatalogue.Controllers
@using DragonScribeStudios.MyMiniCatalogue.Core.Data
@using DragonScribeStudios.MyMiniCatalogue.Services

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h2>@(game?.Name ?? "No game")</h2>

<ul>
@foreach (var faction in factions)
{
    <li>@faction.Name</li>
}
</ul>

@code {

    [CascadingParameter]
    private CacheController.CacheResult? cache { get; set; }

    private Game? game => cache?.Game;
    private Faction[] factions => cache?.Factions ?? [];
}